{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Around the World in Capital Cities</title>
    <link href="{% static 'eduprod/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/scripts.js' %}" defer></script>
</head>
<body>
    <header>
        <img src="{% static 'eduprod/logo.jpeg' %}" alt="Logo" class="logo">
        <h1>Around the World in Capital Cities</h1>
    </header>
    <header>
        <p>A country is displayed. You need to guess the right capital city to each country. Tap the button below to reveal your answer. When you're finished, just reload the page! Good Luck!</p>
    </header>
    <div class="coco">
    <div id="noQuestionsMessage" style="display: none;">Quiz finished. Great Work!</div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
