body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.question {
    margin: 20px auto; 
    font-size: 30px; 
    max-width: 600px; 
    text-align: center; 
}

.answer { 
    margin: 20px auto; 
    font-size: 24px; 
    max-width: 600px; 
    text-align: center; 
    color: forestgreen;
}

/* Style for the button */
#revealBtn {
    display: block; /* Display as block element */
    margin: 20px auto; /* Center the button */
    padding: 10px 20px; 
    font-size: 18px; 
    background-color: #27ae60; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}

header {
    font-size: large;
    color: #27ae60;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

 /* Instructions */
p {
    color: black;
    display: block;
    padding: 10px;
    background-color: #a4d4b8;
    line-height: 1.5;

}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    float: left; /* Float the logo to the left */
    margin-right: 20px;
}

/* Container */
.coco {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    height: 100vh;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* Style the "Great Work" message */
#noQuestionsMessage {
    font-size: 24px;
    margin-top: 20px; /* Add some space above the message */
    margin-bottom: 20px; /* Add some space below the message */
    text-align: center; /* Center align the message */
    display: block; 

}

/* Style the GIF */
.gwGif {
    display: block; 
    margin-bottom: 20px; 
    width: 200px; 
    height: auto; 
}
