/* Reset default browser styles */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e0e0e0; /* Light gray */
    display: flex;
    justify-content: center;
    align-items: center;
    height: center;
    width: center;
}

.content {
    padding: 80px;
    background-color: #fff; /* White */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 100px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 10em;
  }

h1, h2 {
    margin-bottom: 100px;
    color: #a2d3cb; /* Dark green */
    text-align: center; /* Center the headings */
    font-size: 32px;
}

title {
    color: white;
    font-size: 20px;
}

.question {
    margin: center;
    margin-block: center;
    background-color: #388e3c; /* Dark green */
    color: #fff; /* White text */
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px; /* Rounded corners */
    text-align: center; /* Center the question */

}

.answer {
    background-color: #fff; /* White */
    padding: 20px;
    margin: 10px;
    margin: center;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    display: block; /* Center the button */
    margin: 0 auto; /* Center the button */
    padding: 20px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3c5734; /* Blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f540f; /* Dark green */
}

